<!DOCTYPE HTML>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta charset="utf-8">
    <title>Визуализатор бюджетов - изменения</title>
    <meta name="description" content="бюджет, сервис визуализации местных бюджетов, изменения">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href='/css/budget.css' rel="stylesheet">
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <a href = "/">На Главную страницу</a>
        <ul>
            <li>03.08.2013 Красивая таблица, багфиксы, округление чисел</li>
            <li>24.08.2013 Общий график по всем бюджетам с фильтрами</li>
        </ul>
    </div>
{% include 'footer.html' %}
</body>
</html>
